use_default_menu=false
menu_file=/usr/home/guest/.config/xfce4/panel/shewstring_desktop.menu
icon_file=/usr/local/share/pixmaps/xfce4_xicon1.png
show_menu_icons=true
button_title=Xfce Menu
show_button_title=false

