
i2cp.tcp.host=
i2cp.tcp.port=
i2np.laptopMode=false
i2np.ntcp.autoip=false
	# NOTE: This would only detect the IP of the jail.
i2np.ntcp.enable=true
i2np.udp.addressSources=upnp,ssu
	# NOTE: local was removed from this list, since it would detect the IP of the jail.
i2np.udp.internalPort=
i2np.udp.port=
i2np.upnp.enable=true
i2p.dir.config=/home/i2p/i2p
router.dynamicKeys=false
router.firstInstalled=1
router.firstVersion=0.8.8
router.newsRefreshFrequency=-1
router.updateLastInstalled=1
router.updatePolicy=notify
router.updateProxyHost=0
router.updateProxyPort=0
	# NOTE: The IP and port are 0 so that it does not try to connect to any real service.
